.navbar {
  background-color: #d1e5f4;
  border-bottom: 1px solid #9abddc;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.03);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
}

.search {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}