.info-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info-label {
  font-size: 1rem;
  font-weight: 500;
}

.field-input {
  width: 270px;
  padding: 6px 15px;
  border: 1px solid black;
  border-radius: 100px;
  margin-top: 0.8em;
  font-size: 1rem;
  font-weight: 500;
}
